@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
   overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}